@use '../../scss/scss_variables/colors' as *;
@use '../../scss/fonts';

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.modal-backdrop.closing {
    opacity: 0;
}

.modal-content {
    background-color: $white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1001;
    max-width: 500px;
    width: 90%;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.modal-body {
    font-family: "Plex";
}

.modal-header {
    display: flex;
    font-family: "SPG_Con";
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $grey;
    padding-bottom: 10px;
    margin-bottom: 15px;

    & h2 {
        margin: 0;
        font-size: 1.75rem;
    }
}

.modal-close-btn {
    background: none;
    border: none;
    font-size: 1.75rem;
    cursor: pointer;
    padding: 0;
    margin: 0;
    width: 1em;
    height: 1em;
    line-height: 1;
    color: $black;
    transition: color 0.2s ease;

    & p {
        position: relative;
        margin: 0;
        padding: 0;
        bottom: 0.05em;
    }

    &:hover p:hover {
        color: $darkRed;
        background-color: $grey;
        font-family: "Pirata";
    }
}

.modal-footer {
    border-top: 1px solid $grey;
    padding-top: 10px;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}