@use './scss_variables/variables' as *;
@use './scss_spacing/spacing' as *;
@use './fonts.scss';

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-variant-ligatures: none;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}